    /*I don't like css*/


    /*this is a good width for desktop / laptop screens*/
		#content {
			width: 800px;
			height: 425px;
			
		}
		
 		/*directly below is only needed because on devices like iPads etc the width is both too wide, yet too too small for normal desktop or mobile situations*/
		/*if it is something on the lower end then formatting will be weird, but I don't care anymore*/
    @media screen and (min-width: 450px) and (max-width: 850px) {
			#content {
				max-width: 750px;
				width: 100%;
				height: 385px;
			}
		}
		
		/*mobile devices*/
		@media screen and (max-width: 450px) {
			#content {
			width: 100%;
			max-width: 400px;
			height: 100%;
					
					
			}
			
		}
